body {
    background-color: rgb(7, 16, 97);
    color: cornsilk;
    font-family: "bai jamjuree", sans-serif; display: flex;
     justify-content: center;
     aling-items: center;
     height: 700px;
     margin: 0;

}

button{
     background-color: darkgreen;
     color: darkgreen;
     font-family: "bai jamjuree", sans-serif;